# ============================================
# MASESites AG - Email Konfiguration
# ============================================

# SMTP Konfiguration (Hostpoint / Infomaniak / etc.)
SMTP_HOST=mail.masesites.ch
SMTP_PORT=587
SMTP_USER=info@masesites.ch
SMTP_PASSWORD=yL&vu9YNbf2oT$


# Empfänger der Kontaktanfragen
EMAIL_TO=info@masesites.ch

# Server Port
PORT=3000
